<h1 class="mt-2"><%= @user.username %>'s profile</h1>

<div class="mb-4">
  <%= gravatar_for @user, size: 200 %>
</div>

<div class="text-center mb-4">
  <%= link_to 'Edit your profile', edit_user_path(@user), class: 'btn btn-outline-info' %>
</div>

<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>

<%= render 'articles/article_list', articles: @articles %>

<div class="flickr_pagination mb-4">
  <%= will_paginate @articles, :container => false %>
</div>